.hard {
    width: 100vw;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: absolute;
}

#blog-cover {
    float: left;
}

.hljs-comment {
    color: #006B00;
}

.btn-primary.back {
        display: inline-block;
        float: left;
        z-index: 200;
        width: auto;
        border-radius: 2vmax;
        text-align: center;
        vertical-align: middle;
        border-color: black;
        border: 2px solid;
}

#blog-text-content {
    display: block;
}

.bottom-bar {
    width: 100%;
    display: block;
    max-height: 45px;
    z-index: 200;
    bottom: 3%;
    position: fixed;
}

pre code {
    /* background-color: #232323; */
}

#blog-text {
    width: 100vw;
    height: auto;
    padding: 20px;
    z-index: 0;
    padding-top: 0;
    margin-left: 50%;
    display:inline-block;
    #post-blog-text-spacer {
        display: block;
        height: 40px;
    }
}

#blog-main {
    width: 200vw;
    overflow-y: scroll;
}

#blog {
    width: 200vw;
}

.navbar {
    position: absolute;
}

.scrollbar {
    width: 100%;
    height: 3%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 21%;
    color: white;
    z-index: 1;
    div {
        display: inline-block;
        margin: 0 4% 0 4%;
        font-size: 3vh;
        height: 4.5vh;
        max-height: 30px;
    }
    #blog-earlier, #blog-later {
        border-color: white;
        border: 1px solid;
        text-align: center;
        padding: 0 20px 0px 20px;
        line-height: 25px;
    }
    @media (max-height: 770px) and (min-height: 500px) and (orientation: portrait) {
        #blog-earlier, #blog-later {
            line-height: 23px;
            height: 4vh;
        }
    }
    @media (max-height: 500px) and (orientation: landscape) {
        #blog-earlier, #blog-later {
            line-height: 15px;
            height: 4.5vh;
        }
    }
    @media (max-height: 500px) and (orientation: portrait) {
        #blog-earlier, #blog-later {
            line-height: 15px;
            height: 4.5vh;
        }
    }
}


.frame {
    width: 100%;
    height: 24%;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(30, 20, 30, 0.8);
    opacity: 0.85;
    z-index: 0;
    .slidee {
        margin: 0;
        padding: 5vh 0 1.5vh 0;
        height: 100%;
        width: 100%;
        list-style: none;
        color: rgba(30, 20, 30, 0);
        li {
            background: no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            float: left;
            margin: 0 1.5vh 0 1.5vh;
            padding: 0;
            color: white;
            height: 100%;
            width: 32vh;
            background-color: black;
            word-wrap: break-word;
            overflow-x: hidden;
            text-align: center;
            div {
                height: 5vh;
                display: block;
                color: white;
                text-shadow:
                    -2px -2px 3px #000,
                    2px -2px 3px #000,
                    -2px 2px 3px #000,
                    2px 2px 3px #000;
            }
            .title {
                top: 0;
                font-size: 3vh;
                height: 100%;
            }
            .date {
                position: absolute;
                text-align: center;
                width: 32vh;
                height: 5vh;
                bottom: 2vh;
                font-size: 4vh;
            }
        }
        @media (max-height: 320px) and (orientation: landscape) {
            .slidee {
                padding-top: 3%;
            }
            li {
                text-align: center;
                width: 34vh;
                .date {
                    display: none;
                }
                .title {
                    margin-top: 1vh;
                    display: absolute;
                }
            }
        }
        #end {
            width: 5px;
        }
    }
}

#blog-cover {
    h2 {
        font-size: 8vmin;
        font-size: 8vm;
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: white;
        text-shadow:
            -1px -1px 5px #000,
            1px -1px 5px #000,
            -1px 1px 5px #000,
            1px 1px 5px #000;
        font-size: 8.5vmin;
    }
}

#blog-text {
    z-index: 100;
}

#blog-body-container {
    height: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;

    .read {
        display: inline-block;
        margin-top: 5vh;
        background-color: white;
        height: 10vmin;
        height: 10vm;
        width: auto;
        padding: 0 1vmax 0 1vmax;
        border-radius: 2vmax;
        border-color: black;
        border: 2px solid;
    }
}

@media (min-height: 730px) , (min-width: 730px) {
    #blog-body-container {
        .read {
            height: 40px;
        }
    }
    #blog-cover h2 {
        font-size: 30px;
    }
    .btn.back {
        height: 40px;
    }
}

@media (max-height: 500px) and (orientation: landscape) , (max-width: 320px) and (orientation: portrait) {
    .scrollbar {
        bottom: 21%;
        div {
            font-size: 5vh;
        }
    }
    .frame {
        height: 25%;
        .slidee {
            padding: 8vh 0 1.5vh 0;
        }
    }
}