textarea.form-control#new-post-markdown {
    width: 90%;
    box-sizing: border-box !important;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box !important;    /* For Firefox                          */
    -webkit-box-sizing: border-box !important; /* For Safari                           */
    text-align: left;
    margin: auto;
    /* display: inline-block; */
    resize: vertical;
}

#new-post-title {
    width: 90%;
    box-sizing: border-box !important;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box !important;    /* For Firefox                          */
    -webkit-box-sizing: border-box !important; /* For Safari                           */
    text-align: left;
    margin: auto;
}

.form-horizontal .control-label {
    text-align: center;
}

.btn#submit-new-post {
    width: 90%;
}

