.navbar {
    height: 15vh;
    min-height: 0;
    background: rgba(30,20,30, 0.7);
    overflow: hidden;
    display: block;
    #logo {
        vertical-align: middle;
        height: 12vh;
        margin-left: 10%;
        margin-top: 10%;
    }

    #title-text {
        max-width: 500px;
        height: 6vh;
    }

    .item {
        display: inline-block;
        color: white;
        text-align: right;
        font-size: 3vh; 
        overflow: visible;

        #e-mail {
            padding-top: 3vh;
            margin: 0;
        }
        #phone {
            margin: 0;
        }

    }

    #contact-info {
        text-align: right;
        float: right;
        padding-right: 20px;
    }
}

body {
    padding-top: 10vh;
}
