.navbar {
    height: 15vh;
    min-height: 0;
    background: rgba(30,20,30, 0.7);
    overflow: hidden;
    display: block;
    #logo {
        margin-left: 10%;
    }

    #title-text {
        max-width: 500px;
        height: 6vh;
    }

    .item {
        height: 12vh;
        display: inline-block;
        color: white;
        text-align: right;
        font-size: 3vh; 
        overflow: visible;
        vertical-align: middle;
        margin-top: 1.5vh;

        img {
            height: 100%;
        }
    }

    #contact {
        text-align: right;
        float: right;
        margin-right: 20px;
        opacity: 0.8;
    }
}

body {
    padding-top: 10vh;
}
