// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  height: 100%;
  background: image-url('Computers.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

div, body {
  height: 100%;
  background-color: transparent;
}

#main-title {
  height: 20%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 55%;
  left: 0;
  bottom: 0;
  right: 0;
  div {
    position: relative;
    margin: 0 auto 0 auto;
    h1 {
      font-size: 12vmin;
      color: rgba(222,230,255,1);
      margin: 0 auto;
    }
    p {
      font-size: 5vmin;
      color: rgba(150,140,150,1);
    }
  }
}

